In [ ]:
 def reload_local_list(self):
        filepath = self.lm.selected_list_df.Location.iloc[0]
        path = os.sep.join(filepath.split(os.sep)[:-1])
        self.remove_list_from_playlist(self.lm.selected_list_df)

        time0 = time.time()
        folder_playlist_df = self.linker.build_loc_path_synched_df(path, subfolders=False)
        time1= time.time()


        self.infoselected_list_df = self.lm.selected_list_df
        self.infonewlist_df = folder_playlist_df
        
        
        
        
        
        
        self.append_list_to_playlists(folder_playlist_df)
        
              
        self.local_list_selection_after_edit(event="add")
        
        lista = path.split(os.sep)[-1]
        messagebox.showinfo(title="Info", message=f"Reloaded {lista} to LOCAL in {time1 - time0:.2f}s.")

In [1]:
import pandas as pd
import math

# Ejemplo de dataframes
data_a = {'clave1': [1, 2, 3],
          'clave2': ['A', 'B', 'C'],
          'col1': [10, 20, 30],
          'col2': [40, 50, 60]}

data_b = {'clave1': [1, 2, 4, 2],
          'clave2': ['X', 'B', 'Z', 'B'],
          'col1': [100, 200, 300, 255],
          'col2': [400, 500, 600, 444]}

df_a = pd.DataFrame(data_a)
df_b = pd.DataFrame(data_b)


df_a, df_b

(   clave1 clave2  col1  col2
 0       1      A    10    40
 1       2      B    20    50
 2       3      C    30    60,
    clave1 clave2  col1  col2
 0       1      X   100   400
 1       2      B   200   500
 2       4      Z   300   600
 3       2      B   255   444)

In [2]:
claves = ['clave1', 'clave2']
cols = df_a.columns.to_list()
for x in claves: cols.remove(x)
cols

['col1', 'col2']

In [3]:
df = pd.merge(df_a, df_b, on=['clave1', 'clave2'], how='left')
# Crear un diccionario dinámicamente
nuevas_cols = {col + "_y": col for col in cols}
# Utilizar la función rename
df.rename(columns=nuevas_cols, inplace=True)
df

   clave1 clave2  col1_x  col2_x   col1   col2
0       1      A      10      40    NaN    NaN
1       2      B      20      50  200.0  500.0
2       2      B      20      50  255.0  444.0
3       3      C      30      60    NaN    NaN

In [4]:
def custom_function(row):
    for col in cols:
        if math.isnan(row[col]): row[col] = row[col + "_x"] 
    return row

df = df.apply(custom_function, axis=1)

In [5]:
 df = df.filter(regex='^(?!.*_x$)')

In [6]:
df

   clave1 clave2   col1   col2
0       1      A   10.0   40.0
1       2      B  200.0  500.0
2       2      B  255.0  444.0
3       3      C   30.0   60.0